* {
  font-family: Times New Roman;

}

html {
  text-align: center;
  font-family: Guttman Yad-Brush;
  padding-bottom: 55px;
}

ul {
  text-align: right;
  margin-right: 35%;
  margin-top: 0%;
}

#myQuestion {
  display: flex;
}

.nav {
  background-color: #7b977d;
  display: flex;
  justify-content: space-around;
  margin-right: 0px !important;
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navLinks {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  width: 278px;
  border: 2px solid #ffffff00;
  padding-top: 10px;
  
}

.navLinks:hover {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.ShowSurvey {
  width: 554px;
  border-radius: 12px;
  border: 3px solid #aecdb1;
}

#pie {
  size: 5px;
}

.pieChart {
  width: 60%;
  margin-right: 60px;
}

.flex {
  display: flex;
  margin-right: 37%;
  justify-content: flex-start;

  align-items: center;
}

.questionParticipants {
  display: flex;
  margin-right: 36%;
  justify-content: flex-start;
}

#questionParticipants {
  margin-right: 20px;
  margin-top: 37px;
}

.answerChart {
  display: flex;
  margin-bottom: 25px;
}

#chart {
  margin: 0;
  margin-right: 17px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

p {
  font-size: 120%;
}

li {
  font-size: 150%;
}

.participants {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

#participants {
  margin-top: 79px;
  margin-right: 22px;
}

hr {
  margin-left: 518px;
  margin-right: 518px;
}

.logInBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  padding: 50px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(14, 13, 13, 0.5);
  border-radius: 10px;
  margin-top: 1%;
}

.logIn {
  margin: 0 0 30px;
  padding: 0;
  color: #7b977d;
  text-align: center;
  font-size: 300%;
}

.logInBox input {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 25px;
  color: #060606;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #7b977d;
  outline: none;
  background: transparent;
  margin-top: 70px;
}

/* .logInBox.input:focus ~ input,
.logInBox.input:valid ~input{
  top: -18px;
  left: 0;
  color: #e3e3e3;
  font-size: 12px;
} */
.logInBtn {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  background-color: #7b977d;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  width: 154px;
}

/* .logInBtn:hover{
  border: 3px solid rgb(255, 255, 255);
} */
.submitBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
}

.properties {

  display: flex;
  margin-top: 70px;
}

.details {
  margin-left: 37px;
}

select {
  margin-top: 9px;
  font-size: large;
}

label {
  font-size: 30px;
}

.details {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 20px;
}

/* label{
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
} */
.linkBtn {
  border: 2px solid #ffffff00;

  background-color: #7b977d;
}

.webTitle {
  background-color: #7b977d;
  color: white;
  margin-bottom: 0;
}

#signUp {
  margin-top: 72px;

}
.App{
  text-align: -webkit-center;
}
/* table {
  border-collapse: collapse;
} */
.fillingQuestion{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.question{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  justify-content: space-evenly;
  margin: auto;
  width: 554px;  
  /* height: 300px; */
  overflow: hidden;
  position: relative;
}
.fillingSurvey{
 width: 30%;
}

.question::before {
  content: "";
  position: absolute;
  inset: -80px;
  background-image: conic-gradient(#a5cda8 30deg, transparent 120deg);
  animation: rotate 2s linear infinite;
  z-index: -2;
}
.question::after {
  content: "";
  position: absolute;
  inset:6px;
  background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 10px; 
  z-index: -1;           
}
@keyframes rotate {
  to{
      transform: rotate(-360deg);
  }
}
/* .next{
  padding-top: 5%;
} */
.surveyTitle{
  background-color: #aecdb1;
    padding: 0.7%;
    width: 533px;    
    margin-bottom: 0;
    border-radius: 15px;
    color: white;
}
.fillingButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.report{
  /* padding: 5px; */
  border-radius: 7px;  
  border: none;
  font-size: 22px;
    background-color: white; 
    color: black; 
    border: 3px solid #f44336;
    height: 33px;
    margin-left: 23px;
  }
  .report:hover {
    background-color: #f44336;
    color: white;
  }
  .report:disabled {
    border: 2px solid #666666;
  background-color: #d8d8d8;
  color: #666666;
  opacity: 0.5;
  }


.update{
  color: #7b977d;
}
.finishBtn{
  display: inline-block;
  border-radius: 7px;
  background-color: #00e76d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 148px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 33px;
  margin-top: 38px;
  width: 146px;
}
.finishBtn:disabled{
  border: 2px solid #666666;
  background-color: #d8d8d8;
  color: #666666;
  opacity: 0.5;
}
.finishBtn p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin: 0;
}
.finishBtn:enabled p:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.finishBtn:enabled:hover p {
  padding-right: 25px;
}
.finishBtn:hover p:after {
  opacity: 1;
  right: 0;
}
.nextBtn{
  background-color: #0096e7;
  color: #fdfdfd;
  border-radius: 7px;
  width: 187px;
  margin: 0;
  margin-right: 168px;
}

  .questionTitle{
    font-size: 32px;
  }

  .homeTitle{
    color:#7b977d;
    margin-top: 0;
  
  }
  .showResults{
    width:154px;
  }
  .answers{
    margin-bottom: 3px;
  }
  .moreBtn{
    background-color: #3a5447;
    width: 141px;
    border-radius: 4px;    
    font-size: larger;
    height: 44px;
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
  td{
    color: white;
  }
  th, td {
    padding: 10px;
    font-size:large;
    text-align: center;
    }
    .tableRows{
      display: contents;
    }
    .selectProperty{
      margin: 23px;
      width: 132px;
      height: 29px;
    font-size: x-large;

    }
    .sortBy{
      font-size: 35px;    
    }
    .padding{
      padding-top: 5%;
    }
    .managerPage{
      background-image: url(./aaa.JPG);
    }
    .birthYear{
      margin-top: 0 !important;
      padding: 0 !important;
    }
    img{
    position: fixed;
    z-index: -1;
    display: block;
    padding-right: 1%;
    width: 20%;
    padding-top: 3%;
    }
    .inputSurveyTitle{
      position: relative;
      font-size: 25px;
      color: #060606;
      letter-spacing: 1px;
      margin-bottom: 30px;
      border: none;
      border-bottom: 2px solid #000000;
      outline: none;
      background: transparent;   
       width: 50%;
      margin-right: 12px;

     
    }
    .labelNewSurvey{
      color: #556a57;
      font-size: 35px;
    }
    .addQuestion{
      background-color: #0096e7;
      margin-top: 0%;
      height: 36px;
      font-size: 130%;
    }
    .showResultsLabel{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      margin: 18px;
      
    }
    .showResultsInput{
      margin-top: 6px;
      margin-left: 13px;
    }
    .showResultsLabel1{
      font-size: 20px;
    }
    .finishAddingSurvey{
      width: 75px;
      font-size: large;
      height: 31px;
    }
    .addSurveyTitle{
      color: white;
      background-color: #aecdb1;
    width: 554px;
    border-radius: 7px;
    margin: 0;
    }
    .titleAndInput{
      margin-top: 5%;
    }
    .addsurveyBtn{
      background-color: #0096e7;
      color: #fdfdfd;
      border-radius: 7px;
      margin: 0;
      font-size: larger;
      height: 30px;
      width: 119px;
      margin-top: 2%;
    }
    .noHeight{
      height: auto;
    }
    .answerNumber{
      color: #556a57;
      font-size: 25px;
    }
    .answerTitleTwo{
      color: #556a57;
      font-size: 25px;
    }
    #answer{
      margin-bottom: 20px;
    }
    .labelForQuestion{
      display: flex;
      align-items: center;
    }
    .showAnswer{
      font-size: 140%;
  
    }
    .inputQuestion{
      width: 100%;      
      font-size: 20px;
    }
    .inputAnswer{
      width: 75%;      
      font-size: 20px;
    }
    .linkToSurveys{
      border: none;
    background-color: white;
    color:#556a57 ;
    font-size:30px;
    text-decoration-line: underline;
    margin-top: 1%;
    }
    .linkToSurveys:hover{
      font-size:32px;
      color: #7b977d;
      text-decoration-line: none;
    }
  
    .h1ForShowSurvey{
      background-color: #aecdb1;
      color: white;
      margin: 0;
      font-size: 250%;
    }
    .moreSurveysBtn{
      width: 4%;
      font-size: 15px;
    
    }
    .unReport{
      border: 3px solid #00e76d;
    }
    .unReport:hover{
      background-color: #00e76d;
      color: white;
    }
    .firstPadding{
      padding-top: 5%;
    }

